<a href="https://colab.research.google.com/github/oktsadwikar/DPDM2023/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER 2

***pandas*** is a python package for manage table data.
pandas sata structure for table is Dataframe

In [ ]:
import pandas  #we use import to pandas difine a package that we are using

In [ ]:
import pandas as pd #we import package and name it as...

csv => comma separated values
*   use comma (,) to separate values
*   use new line (enter,\n) to separate data points

In [ ]:
data_df = pd.read_csv('/content/data.csv')

In [ ]:
data_df

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

## ***Data Structure***

### List
- List is a container to keep everything
- It gives attention to order of the thing in the container

In [ ]:
list_a = [1,2,3,0.9,'aaz', data_df] ## [] (square brackets), we keep int 1,2,3; float 0.9; str aaz; and dataframe data_df

In [ ]:
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3]

***Indexing*** = to choose the value that you want to get. Index start

from 0

In [ ]:
list_a[0]

1

In [ ]:
list_a[5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

***Negative*** index => get data from the last one

In [ ]:
list_a[-1] ## Negative index

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

In [ ]:
list_b = ['pizza', list_a, 9]  # we can keep list inside a list
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

In [ ]:
list_b[1][0] #double index, we choose index no 1 (list_a) from list b, and choose member no 0 from index 1 (list_a)

1

### String is a list characters

In [ ]:
x = 'shabu'
x[-2]  #choose 2nd characters from behind, it will show b

'b'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3]
['pizza', [1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3], 9]

In [ ]:
list_a + list_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

### Creating a list
- create an empty list
- add member to the list
- then you can indexing the list

1. Creating an empty list

In [ ]:
list_aa = []
list_aa

[]

In [ ]:
list_bb = list () #using function list
print(list_bb)

[]

2. Adding a member to the list (.append())

In [ ]:
list_aa.append('chicken')
list_aa.append('water')
list_aa.append('vegetable')

In [ ]:
list_aa

['chicken', 'water', 'vegetable']

In [ ]:
list_aa.append('rice')

In [ ]:
list_aa

['chicken', 'water', 'vegetable', 'rice']

In [ ]:
list_aa[-1] #indexing

'rice'

In [ ]:
list_aa[2]

'vegetable'

In [ ]:
list_aa.append('plate')
#list_aa
list_aa[-2]

'rice'

### List Slicing

we cut part of the list using : (colon)

```
list_name[start:end:step]

In [ ]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')
list_aa.append('apple')

In [ ]:
list_aa

['chicken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[2:7:1]  #we want index number 2 until 6, we can't type 6 because the end is exclusive, and the jump is 1

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:7]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:] #we want index no 2 until the end

['vegetable', 'rice', 'plate', 'spoon', 'fork', 'knife', 'apple']

In [ ]:
list_aa[:5] #we want index from the start until no 5

['chicken', 'water', 'vegetable', 'rice', 'plate']

In [ ]:
list_aa[:5:2] #index from start until no 5, with jump is 2

['chicken', 'vegetable', 'plate']

In [ ]:
list_aa[::-1] #want from the start until the end, but going backward

['apple',
 'knife',
 'fork',
 'spoon',
 'plate',
 'rice',
 'vegetable',
 'water',
 'chicken']

#### QUIZ 1
Cut the following parts from list_aa
1. 'icken'
2. 'get'
3. 'tab'

In [ ]:
list_aa[0][2:]

'icken'

In [ ]:
list_aa[2][2:5]

'get'

In [ ]:
list_aa[2][4:7]

'tab'

## Looping
to make the code to repetitive works

[indent]
``` python
for each_member_of_the_list in the_list_we_want_to_loop :
    do something
    do another thing

this is outside the loop

```

In [ ]:
for each in list_aa:
    print(each)

chicken
water
vegetable
rice
plate
spoon
fork
knife
apple

In [ ]:
for i in [1,2,3]:
    print(i, end='')
    print('xx')

1xx
2xx
3xx

In [ ]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to ear {i} \n/////////////')

now i is chicken
I like to ear chicken
/////////////
now i is water
I like to ear water
/////////////
now i is vegetable
I like to ear vegetable
/////////////
now i is rice
I like to ear rice
/////////////
now i is plate
I like to ear plate
/////////////
now i is spoon
I like to ear spoon
/////////////
now i is fork
I like to ear fork
/////////////
now i is knife
I like to ear knife
/////////////
now i is apple
I like to ear apple
/////////////

In [ ]:
list(range(10)) #generate 10 number but start from 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,20,2))  #start from 10, end 19 (because exclusive), jump 2

[10, 12, 14, 16, 18]

In [ ]:
for i in range(100):
    print(f'Ha{i}',end='')

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9Ha10Ha11Ha12Ha13Ha14Ha15Ha16Ha17Ha18Ha19Ha20Ha21Ha22Ha23Ha24Ha25Ha26Ha27Ha28Ha29Ha30Ha31Ha32Ha33Ha34Ha35Ha36Ha37Ha38Ha39Ha40Ha41Ha42Ha43Ha44Ha45Ha46Ha47Ha48Ha49Ha50Ha51Ha52Ha53Ha54Ha55Ha56Ha57Ha58Ha59Ha60Ha61Ha62Ha63Ha64Ha65Ha66Ha67Ha68Ha69Ha70Ha71Ha72Ha73Ha74Ha75Ha76Ha77Ha78Ha79Ha80Ha81Ha82Ha83Ha84Ha85Ha86Ha87Ha88Ha89Ha90Ha91Ha92Ha93Ha94Ha95Ha96Ha97Ha98Ha99

finished 18 july 2023

### Nested Loop


*   There is loop inside loop

In [1]:
for i in range(3):
    print(f'i = {i} (outer loop)')
    for j in range(2):
        print(f'i = {i}, j = {j} , i+j = {i+j} (inner loop)')

i = 0 (outer loop)
i = 0, j = 0 , i+j = 0 (inner loop)
i = 0, j = 1 , i+j = 1 (inner loop)
i = 1 (outer loop)
i = 1, j = 0 , i+j = 1 (inner loop)
i = 1, j = 1 , i+j = 2 (inner loop)
i = 2 (outer loop)
i = 2, j = 0 , i+j = 2 (inner loop)
i = 2, j = 1 , i+j = 3 (inner loop)

So, we loop 1st outer loop, and then loop the inner loop in range until done. when inner loop has done, then we loop the 2nd outer loop.

Example of looping

create a list [[1],[1,1],...,[1,1,1,1,1,1,1,1,1,1]] with for loop

In [2]:
list_A = []
for i in range(10):
  AA = []
  for j in range(i+1):
      A=1
      AA.append(A)
  list_A.append(AA)

In [3]:
list_A

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [6]:
## Answer
list_ans = []
print(f'list_ans = {list_ans} \n ------------')
for i in range(1, 11): #from 1 until 11 because we want to start at number 1, but we want 10 member so its 11.
    temp = []
    #print(f'temp = {temp}')
    for j in range(i):
        temp.append(1)
    print(f'i = {i} j = {j} : temp = {temp}')
    list_ans.append(temp)
    print(f'list_ans = {list_ans} \n --------------------------')

print(list_ans)

list_ans = []
 ------------
i = 1 j = 0 : temp = [1]
list_ans = [[1]]
 --------------------------
i = 2 j = 1 : temp = [1, 1]
list_ans = [[1], [1, 1]]
 --------------------------
i = 3 j = 2 : temp = [1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1]]
 --------------------------
i = 4 j = 3 : temp = [1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
 --------------------------
i = 5 j = 4 : temp = [1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
 --------------------------
i = 6 j = 5 : temp = [1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
 --------------------------
i = 7 j = 6 : temp = [1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
 --------------------------
i = 8 j = 7 : temp = [1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
 --------------------------
i = 9 j = 8 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
 --------------------------
i = 10 j = 9 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
 --------------------------
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

example 2
creating list [[1],[1,2], [1,2,3],...,[1,2,3,4,5,6,7,8,9,10] with for loop

In [7]:
list_A = []
for i in range(10):
   AA = []
   for j in range(i+1):
      AA.append(j+1)
   list_A.append(AA)

In [8]:
list_A

[[1],
 [1, 2],
 [1, 2, 3],
 [1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7, 8],
 [1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

### QUIZ 2

create a list [[a],[a,b],...,[a,b,c,d,e,f,g,h,i,j]] with for loop

In [18]:
alpha=['a','b','c','d','e','f','g','h','i','j']
list_B = []
for i in int(alpha):
   BB = []
   for j in range(i+1):
      BB.append(j+1)
   list_B.append(BB)

TypeError: ignored

In [15]:
list_B

[]