<a href="https://colab.research.google.com/github/oktsadwikar/DPDM2023/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER 2

***pandas*** is a python package for manage table data.
pandas sata structure for table is Dataframe

In [ ]:
import pandas  #we use import to pandas difine a package that we are using

In [ ]:
import pandas as pd #we import package and name it as...

csv => comma separated values
*   use comma (,) to separate values
*   use new line (enter,\n) to separate data points

In [ ]:
data_df = pd.read_csv('/content/data.csv')

In [ ]:
data_df

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

## ***Data Structure***

### List
- List is a container to keep everything
- It gives attention to order of the thing in the container

In [ ]:
list_a = [1,2,3,0.9,'aaz', data_df] ## [] (square brackets), we keep int 1,2,3; float 0.9; str aaz; and dataframe data_df

In [ ]:
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3]

***Indexing*** = to choose the value that you want to get. Index start

from 0

In [ ]:
list_a[0]

1

In [ ]:
list_a[5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

***Negative*** index => get data from the last one

In [ ]:
list_a[-1] ## Negative index

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

In [ ]:
list_b = ['pizza', list_a, 9]  # we can keep list inside a list
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

In [ ]:
list_b[1][0] #double index, we choose index no 1 (list_a) from list b, and choose member no 0 from index 1 (list_a)

1

### String is a list characters

In [ ]:
x = 'shabu'
x[-2]  #choose 2nd characters from behind, it will show b

'b'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3]
['pizza', [1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3], 9]

In [ ]:
list_a + list_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

### Creating a list
- create an empty list
- add member to the list
- then you can indexing the list

1. Creating an empty list

In [ ]:
list_aa = []
list_aa

[]

In [ ]:
list_bb = list () #using function list
print(list_bb)

[]

2. Adding a member to the list (.append())

In [ ]:
list_aa.append('chicken')
list_aa.append('water')
list_aa.append('vegetable')

In [ ]:
list_aa

['chicken', 'water', 'vegetable']

In [ ]:
list_aa.append('rice')

In [ ]:
list_aa

['chicken', 'water', 'vegetable', 'rice']

In [ ]:
list_aa[-1] #indexing

'rice'

In [ ]:
list_aa[2]

'vegetable'

In [ ]:
list_aa.append('plate')
#list_aa
list_aa[-2]

'rice'

### List Slicing

we cut part of the list using : (colon)

```
list_name[start:end:step]

In [ ]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')
list_aa.append('apple')

In [ ]:
list_aa

['chicken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[2:7:1]  #we want index number 2 until 6, we can't type 6 because the end is exclusive, and the jump is 1

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:7]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:] #we want index no 2 until the end

['vegetable', 'rice', 'plate', 'spoon', 'fork', 'knife', 'apple']

In [ ]:
list_aa[:5] #we want index from the start until no 5

['chicken', 'water', 'vegetable', 'rice', 'plate']

In [ ]:
list_aa[:5:2] #index from start until no 5, with jump is 2

['chicken', 'vegetable', 'plate']

In [ ]:
list_aa[::-1] #want from the start until the end, but going backward

['apple',
 'knife',
 'fork',
 'spoon',
 'plate',
 'rice',
 'vegetable',
 'water',
 'chicken']

#### QUIZ 1
Cut the following parts from list_aa
1. 'icken'
2. 'get'
3. 'tab'

In [ ]:
list_aa[0][2:]

'icken'

In [ ]:
list_aa[2][2:5]

'get'

In [ ]:
list_aa[2][4:7]

'tab'

## Looping
to make the code to repetitive works

[indent]
``` python
for each_member_of_the_list in the_list_we_want_to_loop :
    do something
    do another thing

this is outside the loop

```

In [ ]:
for each in list_aa:
    print(each)

chicken
water
vegetable
rice
plate
spoon
fork
knife
apple

In [ ]:
for i in [1,2,3]:
    print(i, end='')
    print('xx')

1xx
2xx
3xx

In [ ]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to ear {i} \n/////////////')

now i is chicken
I like to ear chicken
/////////////
now i is water
I like to ear water
/////////////
now i is vegetable
I like to ear vegetable
/////////////
now i is rice
I like to ear rice
/////////////
now i is plate
I like to ear plate
/////////////
now i is spoon
I like to ear spoon
/////////////
now i is fork
I like to ear fork
/////////////
now i is knife
I like to ear knife
/////////////
now i is apple
I like to ear apple
/////////////

In [ ]:
list(range(10)) #generate 10 number but start from 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,20,2))  #start from 10, end 19 (because exclusive), jump 2

[10, 12, 14, 16, 18]

In [ ]:
for i in range(100):
    print(f'Ha{i}',end='')

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9Ha10Ha11Ha12Ha13Ha14Ha15Ha16Ha17Ha18Ha19Ha20Ha21Ha22Ha23Ha24Ha25Ha26Ha27Ha28Ha29Ha30Ha31Ha32Ha33Ha34Ha35Ha36Ha37Ha38Ha39Ha40Ha41Ha42Ha43Ha44Ha45Ha46Ha47Ha48Ha49Ha50Ha51Ha52Ha53Ha54Ha55Ha56Ha57Ha58Ha59Ha60Ha61Ha62Ha63Ha64Ha65Ha66Ha67Ha68Ha69Ha70Ha71Ha72Ha73Ha74Ha75Ha76Ha77Ha78Ha79Ha80Ha81Ha82Ha83Ha84Ha85Ha86Ha87Ha88Ha89Ha90Ha91Ha92Ha93Ha94Ha95Ha96Ha97Ha98Ha99

finished 18 july 2023

### Nested Loop


*   There is loop inside loop

In [1]:
for i in range(3):
    print(f'i = {i} (outer loop)')
    for j in range(2):
        print(f'i = {i}, j = {j} , i+j = {i+j} (inner loop)')

i = 0 (outer loop)
i = 0, j = 0 , i+j = 0 (inner loop)
i = 0, j = 1 , i+j = 1 (inner loop)
i = 1 (outer loop)
i = 1, j = 0 , i+j = 1 (inner loop)
i = 1, j = 1 , i+j = 2 (inner loop)
i = 2 (outer loop)
i = 2, j = 0 , i+j = 2 (inner loop)
i = 2, j = 1 , i+j = 3 (inner loop)

So, we loop 1st outer loop, and then loop the inner loop in range until done. when inner loop has done, then we loop the 2nd outer loop.

Example of looping

create a list [[1],[1,1],...,[1,1,1,1,1,1,1,1,1,1]] with for loop

In [2]:
list_A = []
for i in range(10):
  AA = []
  for j in range(i+1):
      A=1
      AA.append(A)
  list_A.append(AA)

In [3]:
list_A

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [6]:
## Answer
list_ans = []
print(f'list_ans = {list_ans} \n ------------')
for i in range(1, 11): #from 1 until 11 because we want to start at number 1, but we want 10 member so its 11.
    temp = []
    #print(f'temp = {temp}')
    for j in range(i):
        temp.append(1)
    print(f'i = {i} j = {j} : temp = {temp}')
    list_ans.append(temp)
    print(f'list_ans = {list_ans} \n --------------------------')

print(list_ans)

list_ans = []
 ------------
i = 1 j = 0 : temp = [1]
list_ans = [[1]]
 --------------------------
i = 2 j = 1 : temp = [1, 1]
list_ans = [[1], [1, 1]]
 --------------------------
i = 3 j = 2 : temp = [1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1]]
 --------------------------
i = 4 j = 3 : temp = [1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
 --------------------------
i = 5 j = 4 : temp = [1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
 --------------------------
i = 6 j = 5 : temp = [1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
 --------------------------
i = 7 j = 6 : temp = [1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
 --------------------------
i = 8 j = 7 : temp = [1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
 --------------------------
i = 9 j = 8 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
 --------------------------
i = 10 j = 9 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
 --------------------------
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

example 2
creating list [[1],[1,2], [1,2,3],...,[1,2,3,4,5,6,7,8,9,10] with for loop

In [7]:
list_A = []
for i in range(10):
   AA = []
   for j in range(i+1):
      AA.append(j+1)
   list_A.append(AA)

In [8]:
list_A

[[1],
 [1, 2],
 [1, 2, 3],
 [1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7, 8],
 [1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

### QUIZ 2

create a list [[a],[a,b],...,[a,b,c,d,e,f,g,h,i,j]] with for loop

In [23]:
alpha=['a','b','c','d','e','f','g','h','i','j']
list_B = []
alpha[0]
for i in range(10):
   BB = []
   for j in range(i):
      BB.append(alpha[0:j])
   list_B.append(BB)

In [24]:
list_B

[[],
 [[]],
 [[], ['a']],
 [[], ['a'], ['a', 'b']],
 [[], ['a'], ['a', 'b'], ['a', 'b', 'c']],
 [[], ['a'], ['a', 'b'], ['a', 'b', 'c'], ['a', 'b', 'c', 'd']],
 [[],
  ['a'],
  ['a', 'b'],
  ['a', 'b', 'c'],
  ['a', 'b', 'c', 'd'],
  ['a', 'b', 'c', 'd', 'e']],
 [[],
  ['a'],
  ['a', 'b'],
  ['a', 'b', 'c'],
  ['a', 'b', 'c', 'd'],
  ['a', 'b', 'c', 'd', 'e'],
  ['a', 'b', 'c', 'd', 'e', 'f']],
 [[],
  ['a'],
  ['a', 'b'],
  ['a', 'b', 'c'],
  ['a', 'b', 'c', 'd'],
  ['a', 'b', 'c', 'd', 'e'],
  ['a', 'b', 'c', 'd', 'e', 'f'],
  ['a', 'b', 'c', 'd', 'e', 'f', 'g']],
 [[],
  ['a'],
  ['a', 'b'],
  ['a', 'b', 'c'],
  ['a', 'b', 'c', 'd'],
  ['a', 'b', 'c', 'd', 'e'],
  ['a', 'b', 'c', 'd', 'e', 'f'],
  ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']]]

**THE RIGHT ANSWER OF QUIZ 2 :**

In [83]:
listofletters = ['a','b','c','d','e','f','g','h','i','j']

In [85]:
q2 = [ ]
str_q = ['a','b','c','d','e','f','g','h','i','j']
for i in range (1,11) :
   q2.append(str_q[:i])
q2

[['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]

In [29]:
list_AA=[]
for i in range(10):
    AA = []
    for j in range(i+1):
        AA.append(listofletters[j])
    list_AA.append(AA)

In [30]:
list_AA

[['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]

## Conditional Statement (if statement)

``` python
if condition (with these symbols ==, !=, <, >, <=, >=, in, is_null(),and, or, &, |) :
    do this when the condition is True #1
    do this when the condition is True #2
```

In [31]:
if 1<5:
    print('yes')

yes

``` python
if conditional (with these symbols : ==, !=, <, >, <=, >=, in, is_null(), and, or, & , |):
    do this when the condition1 is True #1
    do this when the condition1 is True #2
elif condition2:
    do this when the condition 1 is False and condition 2 is True #1
    do this when the condition 1 is False and condition 2 is True #2
elif condition3:
    do this when the condition 1 and 2 is False and condition 3 is True #1
else: # if all above condition are False
    do this when all conditions are False
```

In [32]:
x = 12

if x<5:
   print('yes')
else:
   print('no')

no

In [33]:
list_ex = [1,5,9,-19,-2,0]

**Example**

Find the smallest number in list_ex without using min() function (you can use only ```for``` and ```if```)

In [34]:
minimum = list_ex[0]
for number in list_ex:
    if minimum > number:
       minimum = number
print(minimum)

-19

In [36]:
## commented answer
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i \n-------------')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
-------------
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
-------------
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
-------------
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
-------------
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
-------------
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-------------
-19

**Example**

list_ex = [1,5,9,-19,-2,0]
Find the maximum number in list_ex without using max() function (you can use only for and if)

In [37]:
maximum = list_ex[0]
for number in list_ex:
    if maximum < number:
       maximum = number
print(maximum)

9

**HOMEWORK1**

sort the number in ```list_ex``` without using sorting function (you can only ```for``` and ```if```)

deadline => before **8 August 2023**

## Python Infinity

Representing infinity as an integer in python

1. Using float(‘inf’) and float(‘-inf’):

In [38]:
float('inf')

inf

In [39]:
float('-inf')

-inf

2. using Python’s math module:

In [40]:
import math

In [41]:
math.inf

inf

In [42]:
-math.inf

-inf

## Function

``` python
def function_name(input1,input2,....):
    process #1
    process #2
    return output
```

![image.png]()

**four important parts of a function**

*   function name (needed)
*   input
*   process (needed)
*   output

### Example 1

In [43]:
def find_min(list_ex):
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x

    return min

In [44]:
list_A = [1,5,9,-19,-2,0]
XXX = find_min(list_A)
print(XXX)

-19

In [45]:
find_min([-9,99,0,-34])

-34

### Example 2

Function without Output
*   cannot set a value to a variable

In [46]:
def find_min2(list_ex): ## no return
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x
    print(min)

In [47]:
find_min2(list_A)

-19

In [48]:
YYY = find_min2(list_A)

-19

In [49]:
YYY

### Example 3

Function without input

In [50]:
def Pi_val():
    return 3.1416

In [51]:
r = 10
print(f'The area of ​​a circle with a diameter equal to {r} is {Pi_val()*r*r}')

The area of ​​a circle with a diameter equal to 10 is 314.16

### Example 4

Function that contains only processes

In [52]:
def draw_rectangle():
    print('======')
    print('|    |')
    print('======')

In [53]:
draw_rectangle()

======
|    |
======

In [54]:
def draw_hello():
    print('============')
    print('|  Hello  |')
    print('============')

In [55]:
draw_hello()

============
|  Hello  |
============

**Function without process means error**

In [56]:
def draw_rectangle():

SyntaxError: ignored

**type of inputs (paremeters or arguments)**

- non-default argument: you need to give input to this argument

- default argument : you can ignore it because it has a default value

In [59]:
def draw_rectangle(dbbound=True): ## this is an example of default argument: set default to True
    if dbbound:
        print('========')
        print('||    ||')
        print('========')
    else:
        print('________')
        print('|      |')
        print('--------')

In [60]:
draw_rectangle()

========
||    ||
========

In [61]:
draw_rectangle(True)

========
||    ||
========

In [62]:
draw_rectangle(False)

________
|      |
--------

when you call a function that require non-default argument without input, it will return error

In [63]:
find_min2()

TypeError: ignored

when define a function, you have to put non-default argument first

In [64]:
def draw_rectangle(size,dbbound=True): ## size is non-default argument (we cannot put dbbound before size)
    if dbbound:
        up = '='
        space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*space}||')
        print(f'{(size+4)*up}')
    else:
        up = '-'
        space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*space}|')
        print(f'{(size+4)*up}')

In [65]:
draw_rectangle()

TypeError: ignored

In [67]:
draw_rectangle(20,False)

------------------------
|                    |
------------------------

you don't have to follow the order or the arguments if you specify what argument are what

In [69]:
draw_rectangle(dbbound=False,size=25)

-----------------------------
|                         |
-----------------------------

In [70]:
draw_rectangle(size=7)

===========
||       ||
===========

#### Example

create a function that:

- draw a rectangle that you can specify width and height of it
- but when user input only one argumet draw square

Print the width x length of the rectangle.


(Please print the width x length of the rectangle)

**example**

rext(3,5)
> 3 x 5

rext(7)

> 7 x 7

In [71]:
def draw_rectagle(W, H): #เติมค่่า ตัวหนึ่งได้เเต่ใช้สองตัว
    print(f'{W} x {H}')
draw_rectagle(3, 5)

3 x 5

In [72]:
def draw_rectagle(W, H=True): #เติมค่่า ตัวหนึ่งได้เเต่ใช้สองตัว
    if H == True: #เช็ค if parameter 1 ตัว
        H=W
    print(f'{W} x {H}')

In [73]:
draw_rectagle(3)

3 x 3

In [74]:
draw_rectagle(3,5)

3 x 5

In [75]:
def draw_rectagle(W, H=True):
    if H ==True:
       up = '-'
       side = '|'
       space = W-1
       print(f'{W*up}')
       for i in range(W):
           print(f'{side}{space*" "}{side}')
       print(f'{W*up}')
       print((f'{W} x {W}'))
    else:
        up = '-'
        side = '|'
        space = W-1
        print(f'{W*up}')
        for i in range(H):
            print(f'{side}{space*" "}{side}')
        print(f'{W*up}')
        print((f'{W} x {H}'))

In [76]:
draw_rectagle(W=5)

-----
|    |
|    |
|    |
|    |
|    |
-----
5 x 5

In [77]:
draw_rectagle(W=5,H=10)

-----
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
-----
5 x 10

In [78]:
draw_rectagle(W=10,H=10)

----------
|         |
|         |
|         |
|         |
|         |
|         |
|         |
|         |
|         |
|         |
----------
10 x 10

In [79]:
draw_rectagle(W=5,H=5)

-----
|    |
|    |
|    |
|    |
|    |
-----
5 x 5

**HOMEWORK 2**

create a function that
1. sort a list
2. can specify to the function that to sort it ascending or descending with the ascending as default
3. have 2 argument one default and one non-default

(continue form Homework 1)