<a href="https://colab.research.google.com/github/oktsadwikar/DPDM2023/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String manipulation and Print Statement

## Phython Example

In [ ]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range(10):
        ccc=10
        #print(ccc)

a /
b /
c /

## String (text)

In [ ]:
text1="Stat"

In [ ]:
text2='KKU'

In [ ]:
print(text1)

Stat

In [ ]:
print(text1 + text2)

StatKKU

In [ ]:
print(text1 + 5)

TypeError: ignored

In [ ]:
print(5 + text1)

TypeError: ignored

## Variable

In [ ]:
a = 5 #int
print(a)

5

In [ ]:
b = 5.7 #float
print(b)

5.7

In [ ]:
c = a-b
print(c)

-0.7000000000000002

## Variable Naming Rules


1. try to use meaningful word
2. do it in English
3. you can use number in variable name but the name cannot start with number
4. there should be no space in the name
5. name is case-sensitive (Abc is not equal to ABC)

## Advanced printing

In [ ]:
print(f'six plus five = {6+5}')  # symbol {} means that inside the symbol is a python code

six plus five = 11

In [ ]:
print(f'six plus five = {6+5:.2f}%')  # .2f means we use float, and 2 means theres 2 number after comma

six plus five = 11.00%

In [ ]:
print(f'six plus five = {6+5:03d}')  #03d means we want to show 3 digits number

six plus five = 011

In [ ]:
st1 = f'six plus five = {6+5:03d}'

In [ ]:
st1

'six plus five = 011'

### Separator

In [ ]:
print('stat')

stat

In [ ]:
print('stat','KKU') #we can have more than 1 objects, this one using default sep ' '

stat KKU

In [ ]:
print('stat','KKU',sep='/') #this one not using default sep, but we want to use / for sep

stat/KKU

### End

In [ ]:
print('stat') #this one using default end = \n or new line
print('KKU')

stat
KKU

In [ ]:
print('stat',end='+-+') #this one we use end = +-+
print('KKU')

stat+-+KKU

## Variable Types

### char(arcter)

### ```string + string``` means concatenation

In [ ]:
a='C'

In [ ]:
b='haracter'

In [ ]:
print(f'a={a} b={b}, then {a}+{b}={a+b}') #string + string means

a=C b=haracter, then C+haracter=Character

In [2]:
A='c'
B='a'

In [3]:
print(A+B) # String + string is concatenated

ca

### ```integer * char ``` mean multiple copies for char

In [4]:
print(5*'T') #this will show 5 copies of T = TTTTT

TTTTT

### Quiz 1
print Ha for 100 times with one print function

In [ ]:
print(100*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa

### int(eger)

In [ ]:
int_a=7
int_b=2

In [ ]:
print(type(int_a),type(int_b)) #to see the type of variable

<class 'int'> <class 'int'>

In [ ]:
int_c = int_a + int_b #assign the value as the output of operation
print(int_c)

9

### Float

In [5]:
fl_a=7.
fl_b=2.571

In [6]:
print(type(fl_a))

<class 'float'>

In [8]:
print(fl_a) # Display as Float

7.0

In [ ]:
fl_b

2.571

### Boolean (Variable with True or False value)
Logical

In [ ]:
b_T = True

In [ ]:
b_F = False

```==``` means equal,```!=``` means not equal,```>``` means greater than,```<=``` means less than or equal,```|``` means or, ```&``` means and

In [ ]:
b_T | b_F

True

### Complex Number

In [ ]:
x = 1 + 2j

we can check the data type with ```type ()```

In [ ]:
print(f'variable x value is {x} and datatype is {type(x)}')

variable x value is (1+2j) and datatype is <class 'complex'>

In [ ]:
print(f'variable A value is {A} and datatype is {type(A)}')

variable A value is c and datatype is <class 'str'>

In [ ]:
print(f'variable a value is {a} and datatype is {type(a)}')

variable a value is C and datatype is <class 'str'>

## Variable Casting (Variable Type Conversion)
we can change the variable type from one to another

In [ ]:
print(f'int_a = {int_a} int_b = {int_b} fl_a = {fl_a} fl_b= {fl_b}')

int_a = 7 int_b = 2 fl_a = 7.0 fl_b= 2.571

In [ ]:
str_a = '6'
str_b = '-2'

In [ ]:
str_a2int =  int(str_a)  #transform string into int
print(f'variable str_a2int value is {str_a2int} and datatype is {type(str_a2int)}')

variable str_a2int value is 6 and datatype is <class 'int'>

In [ ]:
str_a2int + int_a

13

In [ ]:
str(fl_b) #transform float to string

'2.571'

In [ ]:
int(fl_b) #transform float to int, but it will cut the floating point

2

In [ ]:
str_a + int_a #this one will be error because str_a is a string

TypeError: ignored

## Replace () instead of string

In [ ]:
st_test1 = 'Departement of Statistics,'

In [ ]:
st_test1.replace('e',' ') #replace e with space

'D part m nt of Statistics,'

In [ ]:
st_test1 #the function st_test1.replace that we done before will not change this

'Departement of Statistics,'

In [ ]:
st_test2 = st_test1.replace('e',' ') #replace e with space and save the change to new variable

In [ ]:
print(st_test2)

D part m nt of Statistics,

In [ ]:
st_test1.replace('ti','TI') #modify ti to TI

'Departement of StaTIsTIcs,'

## Split () string

In [ ]:
'a b c d e f g'.split()  # cut string at spaces, so the list will have 7 member

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
'abc de fg'.split()  # cut string at spaces, so the list will have 3 member (abc, de, and  ef)

['abc', 'de', 'fg']

In [ ]:
'a,b/c,d e/f g'.split('/')  # split with /

['a,b', 'c,d e', 'f g']