<a href="https://colab.research.google.com/github/oktsadwikar/DPDM2023/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String manipulation and Print Statement

## Phython Example

In [ ]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range(10):
        ccc=10
        #print(ccc)

a /
b /
c /

## String (text)

In [ ]:
text1="Stat"

In [ ]:
text2='KKU'

In [ ]:
print(text1)

Stat

In [ ]:
print(text1 + text2)

StatKKU

In [ ]:
print(text1 + 5)

TypeError: ignored

In [ ]:
print(5 + text1)

TypeError: ignored

## Variable

In [ ]:
a = 5 #int
print(a)

5

In [ ]:
b = 5.7 #float
print(b)

5.7

In [ ]:
c = a-b
print(c)

-0.7000000000000002

## Variable Naming Rules


1. try to use meaningful word
2. do it in English
3. you can use number in variable name but the name cannot start with number
4. there should be no space in the name
5. name is case-sensitive (Abc is not equal to ABC)

## Advanced printing

In [18]:
print(f'six plus five = {6+5}')  # symbol {} means that inside the symbol is a python code

six plus five = 11

In [20]:
print(f'six plus five = {6+5:.2f}%')  # .2f means we use float, and 2 means theres 2 number after comma

six plus five = 11.00%

In [21]:
print(f'six plus five = {6+5:03d}')  #03d means we want to show 3 digits number

six plus five = 011

In [22]:
st1 = f'six plus five = {6+5:03d}'

In [23]:
st1

'six plus five = 011'