<a href="https://colab.research.google.com/github/oktsadwikar/DPDM2023/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String manipulation and Print Statement

## Phython Example

In [ ]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range(10):
        ccc=10
        #print(ccc)

a /
b /
c /

## String (text)

In [ ]:
text1="Stat"

In [ ]:
text2='KKU'

In [ ]:
print(text1)

Stat

In [ ]:
print(text1 + text2)

StatKKU

In [ ]:
print(text1 + 5)

TypeError: ignored

In [ ]:
print(5 + text1)

TypeError: ignored

## Variable

In [ ]:
a = 5 #int
print(a)

5

In [ ]:
b = 5.7 #float
print(b)

5.7

In [ ]:
c = a-b
print(c)

-0.7000000000000002

## Variable Naming Rules


1. try to use meaningful word
2. do it in English
3. you can use number in variable name but the name cannot start with number
4. there should be no space in the name
5. name is case-sensitive (Abc is not equal to ABC)

## Advanced printing

In [ ]:
print(f'six plus five = {6+5}')  # symbol {} means that inside the symbol is a python code

six plus five = 11

In [ ]:
print(f'six plus five = {6+5:.2f}%')  # .2f means we use float, and 2 means theres 2 number after comma

six plus five = 11.00%

In [ ]:
print(f'six plus five = {6+5:03d}')  #03d means we want to show 3 digits number

six plus five = 011

In [ ]:
st1 = f'six plus five = {6+5:03d}'

In [ ]:
st1

'six plus five = 011'

### Separator

In [1]:
print('stat')

stat

In [3]:
print('stat','KKU') #we can have more than 1 objects, this one using default sep ' '

stat KKU

In [5]:
print('stat','KKU',sep='/') #this one not using default sep, but we want to use / for sep

stat/KKU

### End

In [6]:
print('stat') #this one using default end = \n or new line
print('KKU')

stat
KKU

In [7]:
print('stat',end='+-+') #this one we use end = +-+
print('KKU')

stat+-+KKU

## Variable Types

### char(arcter)

### ```string + string``` means concatenation

In [8]:
a='C'

In [9]:
b='haracter'

In [10]:
print(f'a={a} b={b}, then {a}+{b}={a+b}') #string + string means

a=C b=haracter, then C+haracter=Character

In [11]:
A='c'
B='a'

In [12]:
print(A+B)

ca

# ```integer * char ``` mean multiple copies for char

In [14]:
print(5*'T') #this will show 5 copies of T (TTTTT)

TTTTT

## Quiz 1
print Ha for 100 times with one print function

In [27]:
print(100*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa